* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgba(41, 88, 104, 0.7);
}

nav #navbarSupportedContent ul {
  font-size: 1.2em;
}

#carouselFade .carousel-control-prev,
#carouselFade .carousel-control-next {
  background-color: #333629;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}

#carouselFade .carousel-control-next-icon,
#carouselFade .carousel-control-prev-icon {
  color: white;
  z-index: 30;
}

#carouselFade .slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 88, 104, 0.7);
  color: white;
}

#carouselFade .slider-overlay h2 {
  font-size: 3.5em;
  font-weight: bold;
}

#carouselFade .slider-overlay .slider-links a {
  font-size: 1.5em;
  font-weight: 400;
  padding: 0.1em 1em;
  margin: 0.5em 0.5em;
}

#carouselFade .slider-overlay .slider-links a:hover {
  background-color: #333629;
  color: white;
  border: none;
}

#about-us .image-section {
  padding: 0;
}

#about-us .image-section img {
  display: none;
}

#about-us .text-section {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -100px;
  padding: 30px 0 30px 50px;
}

#about-us .image-section .image-about {
  height: 100%;
  width: 100%;
  background-image: url(./images/Nigeria-map.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

#benefits .title-benefits p {
  min-width: 50%;
}

#benefits .title-benefits .underline {
  border-bottom: solid 2px rgb(41, 88, 104);
  width: 10%;
  margin: 0.3em 0em 0.5em;
}

#benefits .row .list {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#benefits .row .list div:hover {
  background-color: rgba(41, 88, 104, 0.7);
  z-index: 10;
}

#benefits .row .list h6 {
  font-size: 1.2em;
}

footer {
  background-color: #D5EDDC;
}

footer .socials {
  min-width: 20%;
  display: flex;
  justify-content: space-evenly;
}

footer .socials a {
  min-width: 10%;
}

footer .socials a:hover {
  background-color: white;
}

footer p {
  margin-bottom: 0;
  font-size: 1.05em;
}

@media screen and (max-width: 768px) {
  
  #about-us .text-section {
    margin-left: 0;
    padding: 0;
  }

  #about-us .image-section .image-about {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  #carouselFade .slider-overlay h2 {
    font-weight: 400;
    font-size: 1.7em;
  }

  #carouselFade .slider-overlay .slider-links a {
    font-size: 1em;
  }
}